@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    box-sizing: border-box;
}
body, input, select, textarea, h1, button {
    /* font-family: Montserrat,sans-serif; */
    /* font-weight: 400; */
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
body {
    line-height: 1;
}
input:focus-visible,
button:focus-visible,
select:focus-visible,
option:focus-visible,
textarea:focus-visible {
    outline: none;
    box-shadow: none;
}
input::placeholder,
option:first {
    color: #C9C9C9
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
select, option,
textarea {
    background-color: #FFFFFF;
    border: 2px solid #FFC000;
    height: 45px;
    border-radius: 10px;
    color: #787878;
    padding: 0 15px;
}
button,
button.buttonFalse {
    background-color: #FFC000;
    border: 2px solid #FFC000;
    height: 45px;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 0 15px;
    font-weight: bold;
    font-size: 0.9rem;
}
button.buttonFalse {
    background-color: #fffecc;
    color: #FFC000;
    border: none;
}
textarea {
    padding-top: 10px;
}
#app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.containerPagina {
    max-width: 820px;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
#containerCentralDiv {
    flex: 1;
    overflow: auto;
    background: url(/assets/img/fundo.jpg);
}
#corpo_login {
    background: url(/assets/img/fundoTelaLogin.png) center center / cover rgb(218, 158, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.desenvolvidoPorDiv {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    justify-content: center;
    padding: 0 10px;
    width: 100%;
}
.desenvolvidoPorDiv p {
    font-size: 5px;
    color: #FFFFFF;
    margin-right: 35px;
}
.desenvolvidoPorDiv img {
    width: 80px;
}
.corpo_loginCont {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    width: 100%;
}
.loginEntrarBot {
    background-color: #DA9E00;
    line-height: 45px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 50px;
    cursor: pointer;
    width: 100%;
}
.loginEntrarBot p {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
}
.corpo_loginFooterDiv,
.corpo_loginFooterDiv #divLoginWelcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}
.corpo_loginFooterDiv #divLoginWelcome>p {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}
.corpo_loginFooterDiv #divLoginWelcome .loginBemVindo {
    font-size: 1.3rem;
    font-weight: bold;
}
.corpo_loginlogoDiv {
    flex: 1;
    display: flex;
    align-items: center;
}
.corpo_loginlogoDiv img {
    max-height: 40vh;
}
#divLoginForm {
    display: none;
    width: 100%;
    margin-bottom: 50px;
}
.formLoginDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}
.formLoginHeader {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 3px solid #DA9E00;
    width: 100%;
    line-height: 30px;
}
#formLoginError {
    padding: 3px;
    background-color: #F25453;
    width: 100%;
    color: #a11a1a;
    border-bottom: 1px solid #a11a1a;
    text-align: center;
    font-size: 14px;
    display: none;
}
.formLoginBody {
    width: 100%;
    margin-top: 12px;
}
.formLoginBody form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formLoginBody form input {
    background-color: #FFFFFF;
    border: 2px solid #DA9E00;
    line-height: 45px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #B3B3B3;
    padding: 0 15px;
}
.formLoginBody form .formLoginButton {
    background-color: #DA9E00;
    border: 2px solid #DA9E00;
    line-height: 40px;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 0px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}
#formLoginLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
#formLoginLoader>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#formLoginLoader img {
    animation: formLoginLoader 2s linear infinite;
}
@keyframes formLoginLoader {
    0% {transform: rotate(0deg);height: 55%;}
    25% {height: 75%;}
    50% {height: 55%;}
    75% {height: 75%;}
    100% {transform: rotate(360deg);height: 55%;}
}
input.required {
    border-color: #FF0000 !important;
}
#menuHeader {
    background-color: #DA9E00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divMenuBot img {
    width: 25px;
    margin: 15px 15px 5px;
    cursor: pointer;
}
#divMenuLogo img {
    width: 100px;
    margin: 10px 20px;
    cursor: pointer;
}
#menuOpen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /*background-color: #333333;*/
    white-space: nowrap;
    display: none;
    z-index: 1000;
    
    /*flex-direction: row;*/
    right: 0;
}
.menuOpenInt {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.divOpenLeft {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #333333;
    white-space: nowrap;
}
.divOpenRight {
    width: 100%;
    /*background-color: red;*/
    top: 0;
    bottom: 0;
}
.divOpenHeader {
    display: flex;
    justify-content: flex-end;
}
.divOpenUser {
    display: flex;
    align-items: center;
}
.divOpenUserLetra {
    background-color: #DA9E00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 15px;
}
.divOpenUserCentro {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}
.divOpenUserNome {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
}
.divOpenUserEmpresa {
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 5px;
}
.divOpenUserDireita {
    display: flex;
}
.divOpenUserEdit {
    background-color: #DA9E00;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 15px;
}
.divOpenUserEditSeta {
    border-top: solid 2px #333333;
    border-left: solid 2px #333333;
    border-right: solid 2px #DA9E00;
    border-bottom: solid 2px #DA9E00;
    width: 0;
    height: 0;
    align-self: flex-end;
    margin-bottom: 4px;
    margin-left: 30px;
}
.divOpenMenu {
    margin-top: 20px;
    display: flex;
}
.divOpenMenuCont,
.divOpcoesMenu {
    display: flex;
    flex-direction: column;
    width: 250px;
}
.divOpcaoMenu {
    background: linear-gradient(45deg, transparent, #4A4A4A);
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.divOpcaoMenuIcoDiv {
    width: 65px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.row,
.rowReverse {
    display: flex;
    align-items: center;
    margin: 6px 12px;
}
.row {
    flex-direction: row;
    position: relative;
}
.rowReverse {
    flex-direction: row-reverse;
}
.input100,
.button100 {
    width: 100%;
    margin: 0 3px;
}
.button100 {
    cursor: pointer;
}
.input100:disabled,
.button100:disabled {
    opacity: 0.7;
    cursor: default;
}
.input100Div {
    width: 100%;
    margin: 0 3px;
    position: relative;
}
.input100Div>.input100, .input100Div>.button100 {
    margin: 0;
}
textarea.input100 {
    resize: none;
    height: 100px;
}
.pageTitleH1 {
    color: #FFC000;
    font-weight: bold;
    font-size: 22px;
    margin: 7px 0 0 7px;
}
.alertaInput {
    background-color: #ff3939;
    border: 1px solid #622929;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 7px 15px;
    position: absolute;
    right: 21px;
    z-index: 1;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 50%);
    display: none;
}
.alertaInput:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #622929;
    left: -11px;
    top: 5px
}
.alertaInputTop {
    background-color: #ff3939;
    border: 1px solid #622929;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 7px 15px;
    position: absolute;
    right: 21px;
    top: -35px;
    z-index: 1;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 50%);
    display: none;
}
.alertaInputTop:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #622929;
    right: 10px;
    bottom: -10px;
}
.divInputCont,
.divCardLead,
.divProfileLead {
	background-color: #FFFFFF;
    border: 1px solid #FFC000;
    border-radius: 10px;
    color: #787878;
    padding: 0 10px;
    width: 100%;
    /*margin: 0 3px;*/
    display: flex;
    align-items: center;
}
.divProfileLead {
	align-items: flex-start;
	padding: 0;
	flex: 1;
}
.divInputCont {
	height: 45px;
}
.divInput {
    width: 100%;
    margin-left: 10px;
    border: none;
    outline: 0;
}
[placeholder]:empty::before {
    content: attr(placeholder);
    color: #c9c9c9; 
}

[placeholder]:empty:focus::before {
    content: "";
}
.divCardLead, .divProfileLead {
    justify-content: space-between;
    margin-bottom: 5px;
    text-decoration: none;
}
.divCardLead {
	cursor: pointer;
}
.divCLheader {
	display: flex;
}
.divCLright {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.divCLleft,
.divCLheaderLeft,
.divCLheaderRight {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
}
.divCLleft p,
.divCLheaderLeft p,
.divCLheaderRight p {
	text-align: center;
	margin-bottom: 3px;
}
.divCLheaderLeft p {
    padding: 0 10px;
}
.divCLheaderRight {
    align-self: stretch;
    min-width: 80px;
    justify-content: space-around;
    flex: 0;
}
.divCLleft, .divCLleftProfile {
    background-color: #FFC000;
    min-width: 30px;
    align-self: stretch;
    margin-left: -10px;
    border-radius: 7px 0 0 7px;
}
.divCLleftProfile {
	min-width: 60px;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}
.divProfileLead .divCLheader {
	margin-right: 10px;
}
.divCLheaderRightTop {
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divCLname {
	font-weight: bold;
	margin-top: 15px;
	font-size: 15px;
	color: #000000;
}
.divCLmedia {
	margin-bottom: 15px !important;
}
.divCLstatus {
	font-weight: bold;
	font-size: 11px;
	color: #FFC000;
	margin-top: 3px;
}
.divCLtopclient {
    background-color: #FFC000;
    display: flex;
    align-items: center;
    padding: 4px 6px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 8px;
    /*margin: 5px 0;*/
}
.divCLtopclient img {
    margin-right: 5px;
}
.divCLheaderRightBot {
    font-size: 8px;
    font-weight: bold;
    align-self: flex-end;
    margin: 0 -5px -10px 0;
    color: #808080;
}
.rowDivCardsCont {
    flex: 1;
    align-items: stretch;
}
.divCardsCont {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1;
}
.pProfileTitle {
	width: 16px;
	margin: 10px;
}
.divCLMenu {
    border: 2px solid #FFC000;
    border-radius: 5px;
    margin: 0 5px 5px;
    display: flex;
    flex-direction: column;
}
.divCLMenuTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.divCLMenuTopLeft, .divCLMenuTopCenter, .divCLMenuTopRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFC000;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
}
.divCLMenuBot {
    background-color: #FFC000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.divCLMenuBotImg {
    margin: 4px 5px 2px 0;
}
.divCLMenuBotTxt {
    color: #FFFFFF;
    margin: 2px 5px 0;
    font-size: 12px;
    font-weight: bold;
}
.divCLHistoricoTitle {
    display: flex;
    margin: 2px 5px 5px;
    align-items: center;
}
.divCLHistoricoTitleTxt {
    font-size: 15px;
    color: #000000;
    margin-left: 5px;
}
#divHistoricoContainer {
    display: flex;
    flex-direction: column;
}
.cardHistContainer {
    margin: 5px;
    border-left: 1px solid #000000;
    display: flex;
    flex-direction: column;
}
.cardHistStatus {
    margin-left: 5px;
    background-color: #FFC000;
    align-self: flex-start;
    padding: 2px 6px;
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    z-index: 1;
}
.cardHistDescricao {
    margin-left: 5px;
    margin-top: -2px;
    background-color: #E6E6E6;
    padding: 6px;
    border-radius: 3px;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}
.cardHistDateUser {
    align-self: flex-end;
    font-size: 9px;
    font-weight: bold;
    margin-top: 3px;
    margin-right: 5px;
    color: #4D4D4D;
}








